nav {
  font-family: "Barlow", sans-serif !important;
}

.nav-link {
  text-shadow: 2px 2px 5px white !important;
  font-size: 18px;
}

.main-container {
  padding-top: 13vh;
  font-family: "Barlow", sans-serif !important;
}

.main-container h1 {
  text-align: center;
}

.table-container {
  margin: 0 10%;
  text-align: center;
}

.btn {
  background-color: #189ab4 !important;
  border: none;
}

.btn:hover {
  background-color: #4db4c9 !important;
}

.buttondiv {
  text-align: center;
}

.messagep {
  padding-top: 1%;
  text-align: center;
}

#removebtn {
  height: 20px;
  width: 50px;
  font-size: 12px;
  padding: 0 !important;
  background-color: rgb(252, 74, 74) !important;
}
