.nav-link {
  text-shadow: 2px 2px 5px white !important;
  font-size: 18px;
}

nav {
  font-family: "Barlow", sans-serif !important;
}

.main-container {
  padding: 10vh 5%;

  font-family: "Barlow", sans-serif !important;
}

.contactus {
  text-align: center;
}

.contactus a {
  text-decoration: none;
}

.title {
  text-align: center;
}

.qanda {
  padding: 1%;
}
