nav {
  font-family: "Barlow", sans-serif !important;
}

.main-container {
  padding-top: 15vh;
  font-family: "Barlow", sans-serif !important;
}

.main-container h1 {
  text-align: center;
}

.main-container h5 {
  padding-top: 10px;
  text-align: center;
}

.tour-card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.card img {
  width: 100%;
  height: 18rem;
}

.btn {
  background-color: #189ab4 !important;
  border: none;
  margin-top: 8px;
}

.btn:hover {
  background-color: #4db4c9 !important;
}

.nav-link {
  text-shadow: 2px 2px 5px white !important;
  font-size: 18px;
}

.contact {
  text-decoration: none;
}
