.nav-link {
  text-shadow: 2px 2px 5px white !important;
  font-size: 18px;
}

nav {
  font-family: "Barlow", sans-serif !important;
}

.main-container {
  padding-top: 6%;
  font-family: "Barlow", sans-serif !important;
}

.title {
  text-align: center;
}

.qanda {
  padding: 1%;
}
